/* Images sources: International Student Guide Amsterdam */

/* body html */
* {
  margin:0;
  padding:0;
}

body {
  text-align: center;
  font-family:"avenir", "sans-serif";
}

header {
  background-color: #ED1C24;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 3em;
}

h1, h2 {
  margin: 0 auto;
  color: white;
}

a {
  text-decoration: none;
  margin: inherit;
}

.responsive {
  width: 100%;
  height: auto;
}

/* main */
main {
  text-align: left;
  margin: 50px;
}

main p{
  padding: 10px 0px;
  font-size: 1.5em;
}

main h2 {
  color: #ED1C24;
  padding: 30px 0px;
}

/* link color */

a {
  color: white;
}

/* icons */
.icons {
  width: 58px;
  align: left;
}
.flash-cards-icons {
  width: 50px;
}

/* main */
.main-img-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
}

.main-img-container li {
  width: 47%;
  margin: 10px;
  height: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-img-container li a {
  font-size: 3em;
}

.main-images {
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.4);
  border-radius: 20px;
}

.essentials {background-image: url(../images/essentials.jpg);}

.dutch101 {background-image: url(../images/dutch101.jpg);}

.dayxnight {background-image: url(../images/dayxnight.jpg);}

.getting-around {background-image: url(../images/getting-around.jpg);}

.health {background-image: url(../images/health.jpg);}

/* dutch101 images */
.select li {
  margin-top: 50px;
  height: 600px;
}

.select li a {
  font-size: 2.5em;
}

.dutch101-images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.3);
  border-radius: 15px;
  margin: 20px 30px 10px 30px;
}

.categories-image {background-image: url(../images/categories.jpg);}

.flash-cards-image {background-image: url(../images/flash-cards.jpg);}

/* categories */
.categories-images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.3);
  height: 200px;
  border-radius: 15px;
  margin: 20px 30px 10px 30px;
}

.order {background-image: url(../images/order.jpg);}

.purchase {background-image: url(../images/purchase.jpg);}

.directions {background-image: url(../images/directions.jpg);}

.greetings {background-image: url(../images/greetings.jpg);}

/* menu page */
nav {
  width: 100%;
}

nav ul li {
  list-style-type: none;
  margin: 20px;
}

nav ul li a {
  color: #fff;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ED1C24;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 5em;
}

.cancel {
  background-color: #ED1C24;
  color: white;
  align-items: center;
  padding: 12px;
  position: absolute;
}

/* conversation */
.conversation h3 {
  color: #ED1C24;
  margin: 3px;
}
p em {color: grey;}

.conversation p {
  margin: 3px;
}

.conversation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: 100%;
  height: 200px;
  border-radius: 15px;
  margin: 20px 30px 10px 30px;
  background-color: #F1F2F2;
}

/* flash-cards */
article h3 {
  color: black;
  font-size: 2em;
}
article h4 {
  color: grey;
  font-size: 1.5em;
}

article nav {padding-top: 30px;}

.flash-cards h2 {
  font-size: 3em;
  color: #ED1C24;
}

.flash-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 1300px;
  border-radius: 15px;
  margin: 20px 30px 10px 30px;
  background-color: #F1F2F2;
}
