html {
  font-family: helvetica, sans-serif;
  font-size: 1em;
}

body {
  text-align: center;
}

/* nav menu */

menu nav {
  align-items: center;
}

/* nav */

nav {
  aliign
}

nav ul {
  padding-left: 0em;
  list-style: none;
  display: flex;
  background: #FF0000;
}

nav ul li a {
  color: #ffffff
}

/* link color */

a:link {
  color: white;
}

a:hover {
  color: black;
}

/* nameless */

.responsive {
  width: 100%;
  height: auto;
}
